<head><style>body {
    background-color: black;
}

h1 {
    color: black;
    text-align: center;
}

a {
    color: blue;
}

<head><style>body {
    background-color: ;
}

h1 {
    color: white;
    text-align: center;
}

h1 {
    color: black text-align: center;
}

a {
    color: blue;
}

p {
    font-family: verdana;
    font-size: 25px;
}

</style>